
html body{
  margin: 0;
  padding: 0;
}

body {
  font: 14px sans-serif 微软雅黑;
}

a {
  color: #00B7FF;
}

.header{
  width:100%;
  height:40px;
  background-color: #00B5F0;
  color: #fff;
  text-align: center;
  line-height:40px;
  font-size: 17px;
  position: fixed;
  top: 0;
}

.footer_author{
  width:130px;
  height:20px;
  line-height:20px;
  position:absolute;
  bottom:30px;
  left:50%;
  margin-left:-65px;
  text-align:center;
  font-size:13px;
  color:#4C4C4C;
}

/*登陆注册*/
.logo{
  width:70px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
}

.logo img{
  width:70px;
}


.login{
  position:absolute;
  top:180px;
  left:5%;
  right:5%;
}

.login_div{
  height:40px;
  margin-bottom:8px;
}

.login_div>div{
  display:inline-block;
  height:40px;
  line-height:40px;
}

.login_span{
  position:absolute;
  left:0;
  width:55px;
}

.login_input{
  position:absolute;
  left:50px;
  right:0px;
}


.login_input input{
  width:99%;
  border:1px solid #ddd;
  height:30px;
  border-radius:3px;
  outline:none;
  padding-left:5px;
  -webkit-appearance: none;
  appearance: none;
  font-size:15px;
}

.title{
  font-size:25px;
  width:120px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 8px;
}

.du_desc{
  width:170px;
  text-align:center;
  font-size:12px;
  color:#999;
  margin-left:auto;
  margin-right:auto;
  margin-top: 4px;
}

input, div{
  -webkit-tap-highlight-color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
}

.login_btn{
  position:absolute;
  margin-top:20px;
  height:40px;
  text-align:center;
  background-color: #00B7FF;
  line-height:40px;
  border-radius:5px;
  color:#FFF;
  font-size:16px;
}

/*选择列表*/
.selectTitle{
  color: #00B5F0;
  font-size:20px;
  width: 100%;
  height:40px;
  line-height:40px;
  text-align: center;
  margin-top: 45px;
}

.list_item{
  width:96%;
  margin-left: 2%;
  margin-right: 2%;
  border:1px solid #ddd;
  border-radius: 3px;
  height: 35px;
  line-height:35px;
  margin-bottom: 5px;
}
.list_item span{
  display: inline-block;
}

.list_item_version{
  overflow-x: hidden;
  float: left;
  margin-left:5px;
}

.list_item_time{
  overflow-x: hidden;
  float: right;
  margin-right: 5px;
  text-align: right;
  font-size: 13px;
}

a{
  text-decoration: none;
  color:#4E4E4E;
}

/*footer*/
.footer{
  background-color: #F7F7F7;
  height:40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top:1px solid #ddd;
}

.footer>div{
  float: left;
  width:33%;
  text-align: center;
  margin-top:4px;
}

.icon_item{
  color:#747474;
  font-size:20px;
}

.icon_text{
  font-size:12px;margin-top:3px;
}

.icon_active{
  color:#00A5E3;
}