<div class="footer">
    <div>
        <a href="/index">
            <div>
                <i class="fa fa-calendar-o icon_item icon_active" style="font-size:18px;"></i>
            </div>
            <div class="icon_text icon_active">列表</div>
        </a>
    </div>
    <div>
        <a href="/upload">
            <div><i class="fa fa-magnet icon_item" style="font-size:18px;"></i></div>
            <div class="icon_text">上传</div>
        </a>
    </div>
    <div>
        <a href="/about">
            <div><i class="fa fa-share-alt icon_item" style="font-size:18px;"></i></div>
            <div class="icon_text">关于</div>
        </a>
    </div>
</div>