<%if(!user){%>
    <script type="text/javascript">
        window.location.href = '/';
    </script>
<%}else{%>
    <!--加载模板head & css-->
    <%include ./head%>
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <%include ./css%>
    <body>
        <%include ./header%>
        <div class="selectTitle">V0.67</div>
        <%for(var i  in items){%>
        <div class="list_item">
            <span class="list_item_version">
                <i class="fa fa-file-code-o" style="color:#4C4C4C;"></i>
                <%=items[i].version%>
            </span>
            <span class="list_item_time"><%=items[i].time%></span>
        </div>
        <%}%>

        <div style="margin-bottom: 60px;"></div>

        <!--加载模板尾部-->
        <%include ./footer%>
        <script type="text/javascript" src="javascripts/zepto.js"></script>
        <script type="text/javascript" src="javascripts/main.js"></script>
    </body>
    </html>
<%}%>
